body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Dark blue-grey gradient */
  color: #fff; /* Makes text readable */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body.light-theme {
  background-color: #f8f9fa;
  color: #212529;
}

body.light-theme .card {
  background-color: #ffffff;
  color: #212529;
}

.light-theme .btn-light {
  background-color: #212529;
  color: #fff;
}

.light-theme .btn-dark {
  background-color: #f8f9fa;
  color: #000;
}

/*HackerImageStyling*/

#hackerContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

#hackerImg {
  height: 120px;
  width: auto

}

#typingText {
  font-family: 'Courier New', monospace;
  font-size: 1.2rem;
  color: #00ff00;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid #00ff00;
  animation: typing 2s steps(30, end), blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
#strengthBar {
  height: 100%;
  width: 0%;
  transition: width 0.5s ease;
  border-radius: 5px;

  /* ✨ Gradient Background */
  background: linear-gradient(90deg, #ff4e50, #f9d423, #00b09b, #96c93d); /* red to yellow */
}







